/*Todo: Fuentes  */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Poppins:wght@500&display=swap');

body {
    background: rgb(193, 72, 72);
    background: radial-gradient(circle, rgb(193, 60, 60) 0%, rgba(230, 16, 16, 1) 30%, rgba(98, 19, 19, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Todo: Seccion Wrapper */
.wrapper {
    max-width: 1100px;
    width: 100%;
    margin-top: 50px;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: scale 0.2 ease;
}

.wrapper i:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    scale: 1.05;
}

.wrapper i:active {
    scale: 0.95;
}

.wrapper i:first-child {
    left: 30px;
}

.wrapper i:last-child {
    right: 30px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

/*Todo: Seccion Carousel */
.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Rajdhani', sans-serif;
}

/*Todo: Seccion de las Cards */
.card .img {
    background: rgb(255, 0, 0);
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(230, 16, 16, 1) 51%, rgba(98, 19, 19, 1) 84%);
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span {
    color: #6a6d78;
    font-size: 1.31rem;
}

/*? Responsive Cards/Division de las Mismas para Distintos Tamaños  */
@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

/*Todo: Titulo */
.wraper {
    position: absolute;
    top: 10px;
    color: #fff;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: auto;
}

/*? Glitch Effect del Titulo */
.wraper h1.glitch {
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    position: relative;
    font-size: 100px;
    padding: 30px;
}

.wraper h1.glitch::before,
.wraper h1.glitch::after {
    padding: 30px;
    color: white;
    content: "Equipo";
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
}

.wraper h1.glitch::before {
    left: 3px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

.wraper h1.glitch::after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
    0% {
        clip: rect(124px, 350px, 83px, 30px);
    }

    5% {
        clip: rect(26px, 350px, 146px, 30px);
    }

    10% {
        clip: rect(115px, 350px, 69px, 30px);
    }

    15% {
        clip: rect(117px, 350px, 109px, 30px);
    }

    20% {
        clip: rect(92px, 350px, 106px, 30px);
    }

    25% {
        clip: rect(40px, 350px, 8px, 30px);
    }

    30% {
        clip: rect(77px, 350px, 36px, 30px);
    }

    35% {
        clip: rect(150px, 350px, 126px, 30px);
    }

    40% {
        clip: rect(40px, 350px, 40px, 30px);
    }

    45% {
        clip: rect(107px, 350px, 150px, 30px);
    }

    50% {
        clip: rect(44px, 350px, 144px, 30px);
    }

    55% {
        clip: rect(106px, 350px, 148px, 30px);
    }

    60% {
        clip: rect(4px, 350px, 41px, 30px);
    }

    65% {
        clip: rect(17px, 350px, 102px, 30px);
    }

    70% {
        clip: rect(18px, 350px, 43px, 30px);
    }

    75% {
        clip: rect(78px, 350px, 69px, 30px);
    }

    80% {
        clip: rect(126px, 350px, 28px, 30px);
    }

    85% {
        clip: rect(72px, 350px, 89px, 30px);
    }

    90% {
        clip: rect(21px, 350px, 75px, 30px);
    }

    95% {
        clip: rect(61px, 350px, 149px, 30px);
    }

    100% {
        clip: rect(32px, 350px, 57px, 30px);
    }
}

@keyframes glitch-animation-2 {
    0% {
        clip: rect(102px, 350px, 45px, 30px);
    }

    5% {
        clip: rect(72px, 350px, 102px, 30px);
    }

    10% {
        clip: rect(44px, 350px, 103px, 30px);
    }

    15% {
        clip: rect(130px, 350px, 134px, 30px);
    }

    20% {
        clip: rect(134px, 350px, 18px, 30px);
    }

    25% {
        clip: rect(47px, 350px, 142px, 30px);
    }

    30% {
        clip: rect(30px, 350px, 28px, 30px);
    }

    35% {
        clip: rect(67px, 350px, 108px, 30px);
    }

    40% {
        clip: rect(48px, 350px, 108px, 30px);
    }

    45% {
        clip: rect(44px, 350px, 56px, 30px);
    }

    50% {
        clip: rect(42px, 350px, 66px, 30px);
    }

    55% {
        clip: rect(11px, 350px, 79px, 30px);
    }

    60% {
        clip: rect(82px, 350px, 141px, 30px);
    }

    65% {
        clip: rect(112px, 350px, 44px, 30px);
    }

    70% {
        clip: rect(28px, 350px, 73px, 30px);
    }

    75% {
        clip: rect(124px, 350px, 19px, 30px);
    }

    80% {
        clip: rect(120px, 350px, 126px, 30px);
    }

    85% {
        clip: rect(86px, 350px, 105px, 30px);
    }

    90% {
        clip: rect(47px, 350px, 44px, 30px);
    }

    95% {
        clip: rect(19px, 350px, 100px, 30px);
    }

    100% {
        clip: rect(111px, 350px, 128px, 30px);
    }
}

/*Todo: Boton de Regreso */
.regreso .ti {
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    position: absolute;
    right: 120px;
    bottom: 8% !important;
}

.regreso .ti {
    transition: scale 0.2 ease;
}

.regreso .ti:hover {
    scale: 1.1;
}

.regreso .ti:active {
    scale: 0.95;
}

/*? Responsive de Distintas Secciones para Mobile */
@media (width < 420px) {
    .regreso .ti {
        right: 25px;
        bottom: 5% !important;
    }

    .wrapper i {
        display: none;
    }

    .wraper {
        font-size: 1rem;
    }
}